
*.pyc
__pycache__/
*.pyo
*.pyd
.pytest_cache/
.coverage
*.egg-info/
dist/
build/

.git/
.gitignore
.gitmodules

.idea/
.vscode/
*.swp
*.swo

secrets.*
config_local.*

*.log
*.tmp
temp/

docs/_build/

Dockerfile.dev
docker-compose.override.yml


.env*
.git/
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.env*
!.env.sample 
secrets/

Dockerfile.dev
docker-compose*
docker-compose.override.yml
.dockerignore
.venv/
venv/
docs/
#tests/


*.egg-info/
dist/
build/

.idea/
.vscode/