
*.py[cod]
__pycache__/
*.so
.Python
.env
.venv
env/
*venv*
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json
*.egg-info/
.installed.cfg
*.egg
dist/
build/
*.manifest
*.spec

.pytest_cache/
.coverage
htmlcov/
.nox/
.tox/


.idea/
.vscode/
*.swp
*.swo
*.sublime-*



!.env.example 

.env*
secrets/
config_local.*
credentials.json
*.key
*.cert
*.pem


*.log
*.pot
*.sqlite3

static
staticfiles/
mediafiles/
node_modules/